@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Yanone+Kaffeesatz');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');

.container {
    width: 80%;
    padding: 2%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2,275px);
    justify-content: center;
}

.box {
    display: inline-block;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
}

.box:hover li {
    opacity: 1;
}

#box_1 {

    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#box_2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#box_3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2
}

#box_4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#box_5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
}

#box_6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3
}

.profile_photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px auto;
    margin-bottom: -5px
}

.social {
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: -2px;
}

ul li {
    float: left;
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
    margin-right: 10px;
    opacity: 0;
    transition: .3s ease-in-out;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

ul li:hover {
    transform: scale(1.3);
}

ul li:nth-child(1) {
    transition-delay: .1s;
}

ul li:nth-child(2) {
    transition-delay: .2s;
}

ul li:nth-child(3) {
    transition-delay: .3s;
}

.jop {
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

#h {
    text-align: center;
    margin:5%;
    color: #2a2a2a;
    font-size: 20px;
}

.p1 {
    background-image: url("https://instagram.fixc1-3.fna.fbcdn.net/v/t51.2885-19/s150x150/118149552_310775930251415_4297440685926592327_n.jpg?_nc_ht=instagram.fixc1-3.fna.fbcdn.net&_nc_ohc=FzDGOu3GH90AX8BSzeR&_nc_tp=25&oh=5cd92eaaaf74f318b1c932cbbb4efe27&oe=5FD5656B");
    background-position: center;
    background-size: cover;
}

.p2 {
    background-image: url("https://instagram.fixc1-3.fna.fbcdn.net/v/t51.2885-19/s320x320/94560564_845176212659474_2653817381180145664_n.jpg?_nc_ht=instagram.fixc1-3.fna.fbcdn.net&_nc_ohc=-7kVR0W0wacAX_Kx--F&_nc_tp=25&oh=d884fc7efadc73c8f2ebce5b6a5e4b52&oe=5FDC04E6");
    background-position: center;
    background-size: cover;
}

.p3 {
    background-image: url("https://instagram.fixc1-3.fna.fbcdn.net/v/t51.2885-19/s320x320/118079222_326288558637231_1907190007718661156_n.jpg?_nc_ht=instagram.fixc1-3.fna.fbcdn.net&_nc_ohc=mMfrgokpuQoAX8QC6AO&_nc_tp=25&oh=8e6345f73064a8d2c1be67677f7cbf7d&oe=5FDDEE84");
    background-position: center;
    background-size: cover;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    transform: rotateX(-180deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    text-align: center;
    font-family: 'Encode Sans Condensed', sans-serif;
    width: 300px;
    height: 275px;
    transition: .5s;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.front {
    width: 300px;
    height: 275px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 12%;
    transform: rotate(0);
    transition: .5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    background: #fff;
}

.box.active > .back {
    transform: rotateX(0deg);
    top: 0;
    left: 0;
    z-index: 99;
}

.box.active > .front {
    transform: rotateX(-180deg);
}


.back h2 {
    margin-top: 1%;
}

.back p {
    width: 250px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin: 10px auto 5px auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

a {
    color:inherit;
}