.boxMain {
    display: inline-block;
    width: 80%;
    border: 2px solid silver;
    padding: 2%;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10%;
    border-radius: 4px;
    background-color: white;
}

.array-container {
    background-color: white;
    position: relative;
    margin: 1%;
    border: 1px solid silver;
    border-radius: 4px;
    width: 50%;
    animation: colorchange   1s;
    animation-iteration-count: infinite;
}

.array-container:hover {
    background-color: ghostwhite;
}



.array-container2 {
    background-color: white;
    position: absolute;
    margin: 2%;
    border: 1px solid silver;
    border-radius: 4px;
    width: 30%;
    animation: colorchange2 1s;
    animation-iteration-count: infinite;
}

.array-container2:hover {
    background-color: ghostwhite;
}

.array-bar {
    width: 1%;
    background-color: #14CADB;
    display: inline-block;
    margin: 0 0.2%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-indent: -9999px;
}

@keyframes colorchange {
    0% {
        border: 1px solid;
        border-color: orange blue green tomato;
    }

    50% {
        border: 1px solid;
        border-color: blue tomato orange green;
    }

    100% {
        border: 1px solid;
        border-color: tomato green blue orange;
    }
}

@keyframes colorchange2 {
    0% {
        border: 1px solid;
        border-color: tomato green blue orange;
    }

    50% {
        border: 1px solid;
        border-color: blue tomato orange green;
    }

    100% {
        border: 1px solid;
        border-color: orange blue green tomato;
    }
}