.array-container {
    background-color:white;
    position: relative;
    margin:1%;
    border:1px solid silver;
    border-radius:4px;
    width:50%;
}

.array-container:hover {
    background-color: ghostwhite;
}

.array-container2 {
    background-color: white;
    position: absolute;
    margin: 2%;
    border: 1px solid silver;
    border-radius: 4px;
    width: 30%;
}

.array-container2:hover {
    background-color: ghostwhite;
}

.array-bar {
    width: 0.3%;
    background-color: #14CADB;
    display: inline-block;
    margin: 0 0.2%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-indent: -9999px;
}