.mydiv {
    top: 500px;
    display: normal;
    flex-direction: column;
}
.boxMain {
    display:inline-block;
    width:80%;
    border:2px solid silver;
    padding:2%;
    margin-top:20px;
    margin-bottom:50px;
    margin-left:10%;
    border-radius:4px;
}
